.Project {
  margin-bottom: 1.75rem;
  text-align: justify;
  text-justify: newspaper;
}

.Project__header {
  margin-bottom: 0.25rem;
}

.Project__emoji {
  margin-right: 0.25rem;
}

.Project__name {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(49, 49, 49);
}

.Project__dot {
  font-size: 0.75rem;
  padding: 0 .25rem 0 .25rem;
}

.Project__date-container {
  color: rgb(79, 79, 79)
}

.Project__subheader {
  font-size: 1rem;
  color: rgb(147, 147, 147);
}

.Project__description {
  margin-bottom: 0.5rem;
}

.Project p {
  margin-bottom: 0.15rem;
}

.Project ul {
  margin-bottom: 0.25rem;
}
